/* 
==========================================================================
							GENERALES RULES
==========================================================================
*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
}

body {
    position: relative;
    font-style: normal;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 15px !important;
    color: #000;
    min-height: 100vh;
}

.properties-list-container {
    .title-section {
        text-align: center;
    }
    .filter {
        margin-block-start: 25px;
    }
    .table-responsive {
        text-align: center;
        box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
        border-radius: 5px;
        padding: 25px;
        margin: 25px;
        text-align: left;
        td {
            max-width: 100px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .display-dialog {
            color: blue !important;
            text-decoration: underline !important;
            cursor: pointer;
        }
        .active,
        .occupied {
            color: #08be22 !important;
        }
        .vacant {
            color: #d52b1e !important;
        }

        .inactive {
            color: #353435 !important;
        }
    }
}

.upper-case {
    text-transform: uppercase !important;
    font-weight: bold;
}
.capitalize {
    text-transform: capitalize;
}

/* 
==========================================================================
							    LOADER
==========================================================================
*/

.showbox {
    position: absolute;
    top: 150px;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5%;
    .loader {
        position: relative;
        margin: 0px auto;
        width: 100px;
        .circular {
            -webkit-animation: rotate 2s linear infinite;
            animation: rotate 2s linear infinite;
            height: 100%;
            -webkit-transform-origin: center center;
            -ms-transform-origin: center center;
            transform-origin: center center;
            width: 100%;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            .path {
                stroke-dasharray: 1, 200;
                stroke-dashoffset: 0;
                -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
                animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
                stroke-linecap: round;
            }
        }
    }
    .loader:before {
        content: "";
        display: block;
        padding-top: 100%;
    }
}

@-webkit-keyframes rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124;
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124;
    }
}

@-webkit-keyframes color {
    100%,
    0% {
        stroke: blue;
    }
    40% {
        stroke: red;
    }
    66% {
        stroke: green;
    }
    80%,
    90% {
        stroke: orange;
    }
}

@keyframes color {
    100%,
    0% {
        stroke: blue;
    }
    40% {
        stroke: red;
    }
    66% {
        stroke: green;
    }
    80%,
    90% {
        stroke: orange;
    }
}

@media screen and (max-width: 500px) {
    .showbox {
        left: 0;
    }
}

/* 
==========================================================================
							PAGINATION CONTROLS
==========================================================================
*/

.paginator-controls {
    text-align: center;
}

/* 
==========================================================================
							CUSTOM SELECT
==========================================================================
*/

.custom-select {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.select {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    position: relative;
    width: 350px;
}

.select-text {
    position: relative;
    font-family: inherit;
    background-color: transparent;
    width: 350px;
    padding: 10px 10px 10px 0;
    font-size: 18px;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

/* Remove focus */
.select-text:focus {
    outline: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
}

/* Use custom arrow */
.select .select-text {
    appearance: none;
    -webkit-appearance: none;
}

.select:after {
    position: absolute;
    top: 18px;
    right: 10px;
    /* Styling the down arrow */
    width: 0;
    height: 0;
    padding: 0;
    content: "";
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid rgba(0, 0, 0, 0.12);
    pointer-events: none;
}

/* LABEL ======================================= */
.select-label {
    color: rgba(0, 0, 0, 0.26);
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 0;
    top: 10px;
    transition: 0.2s ease all;
}

/* active state */
.select-text:focus ~ .select-label,
.select-text:valid ~ .select-label {
    color: #2f80ed;
    top: -20px;
    transition: 0.2s ease all;
    font-size: 14px;
}

/* BOTTOM BARS ================================= */
.select-bar {
    position: relative;
    display: block;
    width: 350px;
}

.select-bar:before,
.select-bar:after {
    content: "";
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #2f80ed;
    transition: 0.2s ease all;
}

.select-bar:before {
    left: 50%;
}

.select-bar:after {
    right: 50%;
}

/* active state */
.select-text:focus ~ .select-bar:before,
.select-text:focus ~ .select-bar:after {
    width: 50%;
}

/* HIGHLIGHTER ================================== */
.select-highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
